* {
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 3%;
}

#cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 3%;
  gap: 3px;
}

.productCard {
  width: 20%;
  text-align: center;
  padding: 1.5em;
  box-shadow: 0 0 0.5px 0.5px rgb(181, 181, 214);
  border-radius: 5px;
  margin-bottom: 10px;
}

.productCard:hover {
  width: 22%;
  cursor: pointer;
}

.productTitle {
  font-size: 1.5em;
  color: #9765de;
}

.productCategory,
.productPrice {
  font-weight: bold;
  margin: 1.5em;
}

.productImage {
  width: 70%;
  margin: 10px;
}

.button {
  background-color: #9765de;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 3%;
}

.pagination ul {
  margin: 20px 30px;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
  background-color: #9765de;
  color: aliceblue;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  line-height: 45px;
  cursor: pointer;
}

.btn1,
.btn2 {
  display: inline-flex;
  align-items: center;
  color: #9765de;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
